<mat-card class="card-inicio">

    <div fxLayoutAlign="center" class="main-title">
        <h1>
            ¿Tienes algún comentario o idea?
        </h1>
    </div>
    <div class="site-description" fxLayoutAlign="center" > 
        <p>
            Puedes enviar un correo a desarrollosyproyectosplc@gmail.com
        </p>    
    </div>
    <div fxLayoutAlign="center" >
        <button mat-button>
            <a href = "mailto:desarrollosyproyectosplc@gmail.com?subject = FeedbackComida&body = Message">
                Contacto
            </a>
        </button>
        
    </div>
</mat-card>