<p >
    <mat-toolbar class="bar" >

        <img class="logo" src= "../../assets/images/logo.png">

        <button mat-button routerLink="/" class="font-menu"> Inicio </button>

        <button mat-button [matMenuTriggerFor]="menu" class="font-menu">Menu</button>
        <mat-menu #menu="matMenu">
            <span *ngFor= "let tipo of tipoAnalisis">
                <button mat-menu-item routerLink="/analisis/{{tipo.value}}" (click)="chooseAnalisis(tipo)">{{tipo.nombre}}</button>
            </span>
        </mat-menu>
        <button mat-button routerLink="/about" class="font-menu"> Sobre nosotros </button>

        <button mat-button routerLink="/contacto" class="font-menu"> Contacto</button>

    </mat-toolbar>
  </p>

































