<p>
    <mat-toolbar>

        <img class="logo" src= "../../assets/images/logo.png">


        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <span *ngFor= "let tipo of tipoAnalisis">
                <button mat-menu-item (click)="chooseAnalisis(tipo)" >{{tipo.nombre}}</button>
            </span>
        </mat-menu>
        <button mat-button> Sobre nosotros</button>

        <button mat-button> Contacto</button>

    </mat-toolbar>
  </p>
  
<app-categoria  [componenteAnalisis]="elementoAnalisis"></app-categoria>

































