<mat-card class="example-card">
    <mat-card-header>

      <mat-card-title class="titulo-seccion"> {{nombreTipoProducto}} </mat-card-title>
      <mat-card-subtitle class="subtitulo-seccion"> Se muestran {{CANTIDAD_ITEMS}} productos de {{cantidadProductos}} </mat-card-subtitle>
      <div class="alineacion-derecha">
          <mat-card-actions>
            Ordenar por: 
            <mat-form-field appearance="fill">
               <mat-select [(value)]="orden" (selectionChange)="ordenarProductos()">
                <mat-option value="little"> Menor a mayor </mat-option>
                <mat-option value="big"> Mayor a menor </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-button> Graficar </button>
          </mat-card-actions>

      </div>
    </mat-card-header>
    <div class="row">
        <div class="column" *ngFor= "let producto of productosAcotados"> 
            <div class = "content_img">
                <img src= {{producto.imagen}} style="width:100%">
                  <div> {{producto.nombre}} </div>
            </div>
          <div class="foot-img">
            Cant. de {{componenteAnalisis.nombre}} : {{producto.valor}} gr
          </div>
            
        </div>
        
      </div>
  </mat-card>