<mat-card class="example-card">
    <mat-card-header>

      <mat-card-title> {{nombreTipoProducto}} </mat-card-title>
      <div class="alineacion-derecha">
          <mat-card-actions>
            <button mat-button> Ordenar: Menor a mayor</button>
            <button mat-button> Graficar </button>
          </mat-card-actions>

      </div>
    </mat-card-header>
    <div class="row">
        <div class="column" *ngFor= "let producto of leche"> 
            <div class = "content_img">
                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="width:100%">
                  <div> {{nombreTipoProducto}} </div>
            </div>
            Cantidad de lo que está analizando
            
        </div>
        
      </div>
  </mat-card>