
.card-inicio {
	background-color: #ceecfb;
	margin-bottom: 30px;

}

.main-title {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	line-height: 1.2em;
	word-wrap: break-word;
	font-weight: bold;
}
.site-description {
    margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-weight: normal;
	text-transform: none;
	font-size: 20px;

}
.button-inicio {
	background: #0f3a61;
	color: #ffffff;
	font-weight: normal;
	border: 1px solid transparent;
	margin-left: 10px;
	margin-bottom: 10px;
}
.inicio-card {
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;

}
.mat-icon {
	transform: scale(2);
	margin-top: 20px;
	margin-bottom: 20px;
}

.h1 {
	font-size: 80px;
}

.descripcion-h3 {
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 20px;

}
.descripcion {
	font-size: 20px;

}