<div>  </div>

<div class="main-title">Que tienen las cosas que comemos?</div>
<div class="site-description"> 
    <p>
        El objetivo de esta página es poder comparar fácilmente distintos alimentos envasados que se compran y consumen diariamente.
        Si deseas saber más sobre el proyecto, puedes ver la sección "Sobre nosotros". Si deseas pedir que se agrege un producto nuevo o tienes otra idea para el proyecto puedes enviarnos un mensaje
    </p>    
</div>

<div>
    <button mat-button routerLink="/about" class="button-inicio"> Sobre nosotros </button>

</div>

Quienes somos
Existen muchas personas que tienen restricciones de comida, ya sea que deben consumir una baja cantidad de sodio, de azúcar o de algún otro componente, 
o bien que están deseosas de saber que contiene lo que están comprando. Hasta ahora es un proceso muy tedioso de comparar en la tienda producto por producto, 
lo que implica mucho tiempo y dedicación. En este proyecto nos preocupamos de ayudar a las personas a saber mejor lo que están consumiendo.


Que hacemos
Mostramos los 5 productos que tienen mayor o menor cantidad de algún componente específico. Hasta el momento puedes analizar calorías, sodio, azúcar, grasa, carbohidratos, proteínas y colesterol.

Como lo hacemos
Tenemos una base de datos con la información nutricional de cada producto cada 100ml/gr, para poder comparar equitativamente, dejando fuera el concepto de "porción", que puede ser cambiado de producto en producto