<div>  </div>

<mat-card class="card-inicio">

    <div fxLayoutAlign="center" class="main-title">
        <h1>
            ¿QUÉ TIENE MI COMIDA?
        </h1>
    </div>
    <div class="site-description" fxLayoutAlign="center" > 
        <p>
            Compara fácilmente la información nutricional de productos que consumes diariamente
        </p>    
    </div>
    <div fxLayoutAlign="center" >
        <button mat-button routerLink="/about" class="button-inicio"> Sobre nosotros </button>
    
    </div>
</mat-card>


<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px">
    <div fxFlex="30%">
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-icon fxFlexAlign="center">face</mat-icon>
        </div>
        <div class="descripcion-h3">
            Quienes somos
        </div> 
        <div class="descripcion">
            Somos personas interesadas en que puedas comparar fácilmente la información nutricional de los productos que consumes 
        </div>
    </div>
    <div fxFlex="30%">
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-icon fxFlexAlign="center">receipt</mat-icon>
        </div>
        <div class="descripcion-h3">
            Que hacemos
        </div>
            <div class="descripcion">
                Mostramos fácilmente la comparativa de distintos productos para que puedas analizar calorías, sodio, azúcar, grasa, carbohidratos, proteínas o colesterol
            </div>
        </div>
        <div fxFlex="30%">
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-icon fxFlexAlign="center">help_outline</mat-icon>
        </div>
        <div class="descripcion-h3">
            Como lo hacemos
        </div>    
        <div class="descripcion">
        
            Tenemos una base de datos con la información nutricional de cada producto. Puedes ordenar los productos según lo que deseas analizar
        </div>
    </div>
</div>
    