
<mat-card class="example-card">

<div class="texto-categoria" > Se ha seleccionado la opción para comparar productos por : {{componenteAnalisis.nombre}} </div>

<mat-form-field appearance="fill">
    <mat-label>Escoga una categoría</mat-label>
    <mat-select [(value)]="categoriaSeleccionada" (selectionChange)="cambioCategoria($event.value)" >
      <mat-option *ngFor="let categoria of categorias" [value]="categoria"> {{categoria.nombre}} </mat-option>
    </mat-select>
</mat-form-field>

<div *ngIf="categoriaSeleccionada" >
  
  <app-producto *ngFor="let item of tiposProductosAnalisis" [nombreTipoProducto]="item.nombre" [listaProductos]="item.productos" [componenteAnalisis] = "componenteAnalisis"></app-producto>
</div>

</mat-card>