
<mat-card class="example-card">

<div> Se ha seleccionado la opción para comparar productos por : {{elementoAnalisis.nombre}} </div>

<mat-form-field appearance="fill">
    <mat-label>Escoga una categoría</mat-label>
    <mat-select [(ngModel)]="categoriaSeleccionada">
      <mat-option *ngFor="let categoria of categorias" [value]="categoria.valor"> {{categoria.nombre}} </mat-option>
    </mat-select>
</mat-form-field>

<div *ngIf="categoriaSeleccionada" >
  
  <app-producto *ngFor="let cosa of cosas" [nombreTipoProducto]="cosa" ></app-producto>
</div>
<a> {{tiposProducto}} </a>

</mat-card>